.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  border: 1px solid #333;
}

.main {
  padding-left: 190px;
}

.title {
    display: flex;
    flex-direction: row;
    border: 1px solid #333;
    text-align: center;
  }
