<div>
    <div class="well login">
        <form [formGroup]="loginForm"
              (ngSubmit)="login(loginForm)"
              fxLayout="column"
              novalidate
              class="form-horizontal">

            <h2>WELCOME</h2>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       required
                       formControlName="userName">
                <div *ngIf="loginForm.controls['userName'].invalid">
                    <span *ngIf="loginForm.controls['userName'].required">Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control"
                       type="password"
                       formControlName="password">
            </div>
            <div class="form-group">
                <button type="submit"
                        [disabled]="!loginForm.valid"
                        class="btn btn-primary center-block">Login</button>
            </div>
        </form>
    </div>
</div>